*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main .imgwrap{
    width: 140px;
    height: auto;
}
main .imgwrap img{
    width: 10%;
    height: 10%;
}


#ars{
    width: 40px;
}

#arsl{
    display: flex;
    gap: 15px;
    cursor: pointer;
}

#arsl:hover {
    text-decoration: underline;
}

#logo{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
}

#maka{
    display: flex;
    align-items: center;
    justify-content: center;
}
