

body {
  background-color:white;
}

#clip {
  background-color: rgba(12, 12, 42, 0.932) ;
  -webkit-background-clip: text;
  color: transparent;
}


/* navside */

.navbar .navbar-toggler[aria-expanded="true"] {
  color: white!important;
}

#con {
  color: plum;
}

.navbar .navbar-toggler:focus {
  color: white;
}


.navbar {
  background-color: rgba(12, 12, 42, 0.932) ;
  position: sticky;
}


/* heroside */
header {
  position: relative;
  background-color: black;
  height: 80vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#cent {
  text-align-last: center;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


#white {
  color: white;
}

header .container {
  position: relative;
  z-index: 99;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}


#herosec {
  background-color:#11998e ;
  text-align-last: center;
  color: white;
}

#start {
 display: flex;
 justify-content: center;
 width: 120px;
 border: 1px solid white;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 50px;
 border-top-right-radius: 50px;
 border-bottom-right-radius: 10px;
 padding: 10px;
}

#start:hover {
  background-color:rgba(12, 12, 42, 0.932);
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

/* itemside */

#happy{
  border: 2px solid  rgba(12, 12, 42, 0.932) ;
  background-color:rgba(12, 12, 42, 0.932) ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 10px;
}

/* 
seviceside */

#hero2 {
  border: 10px solid rgba(12, 12, 42, 0.932) ;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 30% 20%;
  border-top-right-radius: 30% 20%;
}


/* footer */
 
#foot {
  background-color:black;
  
}


#clid {
  color: white;
}

.form-control {
  border: 2px solid  rgba(12, 12, 42, 0.932) ;
  background-color:rgba(12, 12, 42, 0.932) ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 10px;
  padding-left: 2rem;
}

#sub {
  width: 100px;
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 10px;
  background-color: rgba(12, 12, 42, 0.932);
}

/* 
nav over effect */


#hove{
    position: relative;
}
#hove::before{
    content: "";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 400ms;
}
#hove:hover::before{
    width:  100%;
}

#icon1:hover {
color:rgba(12, 12, 42, 0.932) ;
}

